{% extends "premiers/base.html" %}
{% block content %}
{% load static %}
<main role="main" class="container fadeInLeft">
    <div class="row">
        <div class="col-md-7 article-metadata">
            <h3 style="padding:2px"> About </h3>
        </div>
    </div>

    <!--    Row for Ali Property -->
    <div class="row">
        <div class="col-md-5">
            <div class="content-section"
                 style="height:500px; background-image: url({% static 'premiers/img/gold-bg.jpg' %})">
                <h5 style="margin-top: 20px">Xera belong to:</h5>
                <div align="center" style="margin-top: 20px">
                    <img src="{% static 'premiers/img/aliy.jpg' %}" width="270" height="370">
                </div>
            </div>

            <div class="content-section"
                 style="height:500px; margin-top:70px; background-image: url({% static 'premiers/img/gold-bg.jpg' %})">
                <div align="center" style="margin-top: 55px">
                    <img src="{% static 'premiers/img/aliy2.jpg' %}" width="270" height="370">
                </div>
            </div>

        </div>


        <div class="col-md-7">
            <p>
                The experience of working since he was 10 years old to earn his own pocket money caused Kajang natives,
                Mohd Ali Abdul Majis or Ali Majis to not sit still.
                Mohd Ali who is also the Chief Executive Officer of ALIY Property Advisors Sdn Bhd is aware that the
                family background of living a modest life requires him to work hard to
                continuing his survival.
                <br><br>
                Alhamdulillah, my father's education and firmness all this time caused me to become a 'person'. Since
                the age of 13, I have been using my own money to fund my studies.
                “My father told me to be independent because I failed to get excellent results in the Primary School
                Assessment Test (UPSR) because I worked more. As a child, I like to earn my own money because I want to
                own toys, ”he said.
                <br><br>
                But everything changed when Mohd Ali studied at a private institution of higher learning and did not
                receive financial loan financing.

                <br><br>
                "I can not afford to continue my studies and decide to do any job that allows me to have money.
                “Alhamdulillah, I was given the opportunity to learn again, at the same time being the owner of a car
                wash. I believe sustenance is everywhere, ”he said.
                Mohd Ali is grateful for being given the opportunity to learn again and his business provides lucrative
                profits.
                “Until I was attacked by 30 people while in the area around my business premises. I was hacked and felt
                this world was dark and thought I was no longer in this world.

                <br><br>
                “Alhamdulillah, there was a servant of GOD helping me and I was rushed to the hospital. I appreciate
                this second opportunity and promise to strive to change my life for the better, ”he said.
                After recovering, Mohd Ali was banned from working and was only given the trust to work in his uncle's
                company located in Kuala Lumpur.
                Despite not having a formal education in real estate, Mohd Ali managed to buy and sell his first
                property and received a commission of RM1,000.
                <br><br>
                “I have no experience working in the office because all this time I have been doing various jobs that
                use physical strength. I was given the opportunity to experience various types of jobs in the company
                until the last position was sales manager, giving me the opportunity to meet people.
                "Since then, I have just opened my eyes to the real estate field and did not turn around and get
                involved in the real estate auction," he said.
                Mohd Ali wisely planned his life when he was able to generate an income of more than RM100,000 despite
                having a fixed salary of only RM4,000.
                <br><br>
                Currently, Mohd Ali is a developer and plans to develop housing and commercial building projects in
                Sungai Besi, Kuala Lumpur and Sungai Udang, Melaka.
            </p>
        </div>

    </div>


    <!--    Row for Me -->
    <div class="row" style="margin-top: 40px">
        <div class="col-md-7">
            <p>Xera Scheduling is a booking appointment app exclusively for Aliy Property Advisors Sdn Bhd client.
                It always displays and recommends available time slots so that client can have efficient booking
                appointment session.
                Xera Scheduling play role as a Human Personal Assistant to help client by giving the best recommendation
                free slot for
                the client and schedule meeting. <br><br>
                Usually, the assistant needs more time to complete the scheduling process. Before proposing an empty
                slot with the best recommendation, he needs to check the boss’s calendar then find empty slot to make
                sure there is no redundant booking. To provide the best recommendation slot, assistant need to follow
                the concept of “Prioritize the main ones”. He needs to evaluate various aspects for example, who is
                representative of client’s company, what company the client represents, how much potential and urgent of
                meeting purpose.
                <br><br>
                The solution, Xera helps speed up the evaluation process by classifying slots into 3 classes, namely
                Glory, Master and Elite bases on all the information provided by client. Based on those classes, Xera
                provides the best slots recommendation and allocates to the specific Aliy Company representative during
                the meeting. Xera helps facilitate assistant in terms of evaluation and scheduling.


            </p>
        </div>

        <div class="col-md-5">
            <div class="content-section"
                 style="height:520px; background-image: url({% static 'premiers/img/gold-bg.jpg' %})">
                <h5 style="margin-top: 20px">Developed by:</h5>
                <div align="center" style="margin-top: 20px">
                    <img src="{% static 'premiers/img/firdaus.jpg' %}" width="230" height="230">
                    <br>
                    <small><b>MOHAMAD FIRDAUS BIN JUSOH</b></small>
                    <br>
                    <small>DEPARTMENT OF ARTIFICIAL INTELLIGENCE</small>
                    <br>
                    <small>FACULTY OF COMPUTER SCIENCE AND INFORMATION TECHNOLOGY, UNIVERSITY OF MALAYA</small>
                    <br>
                    <small>17157139/2 | FINAL YEAR STUDENT</small>
                    <br>
                    <small>FINAL YEAR PROJECT: XERA SCHEDULING</small>
                    <br>
                    <small>SUPERVISOR: DR. ZATI HAKIM AZIZUL HASAN </small>
                    <br>
                    <small>SUPERVISOR EMAIL: ZATI@UM.EDU.MY </small>
                </div>
            </div>
        </div>
    </div>
    <div class="article-metadata"></div>
    <br><br>
    <div align="center">
        <a href="https://www.um.edu.my/">
            <img src="{% static 'premiers/img/UM-Logo.png' %}" width="30%" height="30%">
        </a>
        <a href="http://www.fsktm.um.edu.my/">
            <img src="{% static 'premiers/img/fsktm-Logo.png' %}" width="30%" height="30%">
        </a>
    </div>
</main>


{% endblock content %}