{% extends "premiers/base.html" %}
{% block content %}
<div class="event-container">
    <div class="event">
        <div class="container" style="margin-top: 30px">
            <h3 class="text-center"> Please select 1 suitable date and time for the appointment</h3>
            <form action="#" method="POST">
                {% csrf_token %}
                <div class="row mt-3">
                    {% for slot in slots %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm my-auto">
                            <div class="card card-block d-flex align-items-center" style="height: 200px">
                                <div class="card-body align-items-center justify-content-center">
                                    <p>iSlot ID : {{slot.id}}</p>
                                    <h5 style="font-size:20px;" type="hidden" name="selectedDate" value="{{date}}">
                                        Date : {{slot.date|date:"d M, Y" }}</h5>
                                    <p>Meeting ID : {{slot.purpose_id.id}}</p>
                                    <label>Time : {{slot.slot.name}} {{slot.slot.start_time}} - {{slot.slot.end_time}}</label>
                                </div>
                                <br>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary btn-sm center" style="color:white"
                                        name="submit" value="{{date}}">
                                    Select
                                </button>
                            </div>
                        </div>

                        <br>
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}
