{% extends "premiers/base.html" %}
{% block content %}


<div class="event-container">
    <div class="event">
        <div class="container">
            <form action="{% url 'cancel-slot' slot.id %}" method="POST">
                {% csrf_token %}
                <h2 class="text-center">Xera Scheduling </h2>
                <hr>
                    <p> Are you sure you want to cancel Meeting ID : {{slot.id}}</p>
                    <input type="submit" name="Confirm">
            </form>
        </div>
    </div>

</div>

{% endblock content %}