{% extends "premiers/base.html" %}
{% block content %}


<div class="event-container">
    <div class="event">
        <div class="container" style="height: 500px">
            <h2 class="text-center">Xera Scheduling </h2>
            <h5 class="text-center">Please CONFIRM your selection. Thank you</h5>
            <hr>
            <form action="{% url 'ezz-confirm'%}" method="POST">
                {% csrf_token %}
                <div class="card card-block d-flex"
                     style="height: 350px; width:75%;  margin: 0 auto; float: none; margin-bottom: 10px;">
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <input type="hidden" name="meetingId" value="{{purposeDetail.id}}">Meeting ID :
                        {{purposeDetail.id}}</input>
                    </div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <h6>Attending : {{purposeDetail.vip}}</h6>
                    </div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <h6>Main Purpose : {{purposeDetail.main_purpose}}</h6>
                    </div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <h6>Sub Purpose : {{purposeDetail.sub_purpose}}</h6>
                    </div>

                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary btn-sm center" style="color:white" name="submit"
                                value="{{date}}">
                            Select
                        </button>
                    </div>


                </div>


            </form>
        </div>
    </div>

</div>

{% endblock content %}