{% extends "premiers/base.html" %}
{% block content %}


<div class="event-container">
    <div class="event">
        <div class="container">
            <h2 class="text-center">Xera Scheduling </h2>
            <h5 class="text-center">Please CONFIRM your selection. Thank you</h5>
            <hr>
            <div>
                <div class="event">
                    <div class="event-left">
                        <div class="event-date">
                            <ls>{{selected_date}}</ls>
                        </div>
                    </div>

                    <div class="event-right">
                        <ls>Main Purpose: Fundraising</ls>
                        <ls>Sub Purpose:</ls>
                        <ls>Vip: Mohamad Firdaus Bin Jusoh</ls>
                        <ls>Category: Glory</ls>
                    </div>

                    <div style="margin-left: 200px; margin-top:3%">
                        <a href="#" class="btn btn-primary" style="width:120px"> Confirm </a>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

{% endblock content %}