{% extends "premiers/base.html" %}
{% block content %}

<div class="event-container">
    <div class="event">
        <div class="container">
            <h2 class="text-center">Xera Scheduling </h2>
            <h5 class="text-center">Which of the following your preferred SLOT. Please select ONE.</h5>
            <hr>
            <div>
                <div class="event">
                    <div class="event-left">
                        <div class="event-date">
                            <ls>30 Nov 2020</ls>
                        </div>
                    </div>

                    <div class="event-right">
                        <ls>Main Purpose: Fundraising</ls>
                        <ls>Sub Purpose: Profitable Project</ls>
                        <ls>Vip: Mohamad Firdaus Bin Jusoh</ls>
                        <ls>Category: Glory</ls>
                    </div>

                    <div style="margin-left: 200px; margin-top:3%">
                        <a href="{% url 'ezz-confirm' %}" class="btn btn-primary" style="width:120px"> Select </a>
                    </div>

                </div>
                <div class="event">
                    <div class="event-left">
                        <div class="event-date">
                            <ls>30 Nov 2020</ls>
                        </div>
                    </div>

                    <div class="event-right">
                        <ls>Main Purpose: Fundraising</ls>
                        <ls>Sub Purpose: Profitable Project</ls>
                        <ls>Vip: Mohamad Firdaus Bin Jusoh</ls>
                        <ls>Category: Glory</ls>
                    </div>

                    <div style="margin-left: 200px; margin-top:3%">
                        <a href="{% url 'ezz-confirm' %}" class="btn btn-primary" style="width:120px"> Select </a>
                    </div>

                </div>

                <div class="event">
                    <div class="event-left">
                        <div class="event-date">
                            <ls>30 Nov 2020</ls>
                        </div>
                    </div>

                    <div class="event-right">
                        <ls>Main Purpose: Fundraising</ls>
                        <ls>Sub Purpose: Profitable Project</ls>
                        <ls>Vip: Mohamad Firdaus Bin Jusoh</ls>
                        <ls>Category: Glory</ls>
                    </div>

                    <div style="margin-left: 200px; margin-top:3%">
                        <a href="{% url 'ezz-confirm' %}" class="btn btn-primary" style="width:120px"> Select </a>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

{% endblock content %}