{% extends "premiers/base.html" %}
{% block content %}


<div class="card card-block d-flex shadow-sm"
     style="width:50%;  margin: 0 auto; float: none; margin-bottom: 50px; margin-top: 30px">
    <div class="card-header align-items-center d-flex justify-content-center bg-primary text-white">
        <input type="hidden">{{main_detail}}</input>
    </div>
    <p class="card-title align-items-center d-flex justify-content-center"
       style="margin:10px; margin-top: 15px">{{main_detail.description}}</p>


    <div class="card-footer text-center">
        <a style="width:100px" href="{% url 'ezz-purpose' %}" class="btn btn-secondary">Back</a>
    </div>


</div>

{% endblock content %}

