{% extends "premiers/base.html" %}
{% block content %}
<div class="event-container">
    <div class="event">
        <div class="container" style="margin: 30px">
            <h1 class="text-center"> Welcome to Xera Scheduling </h1>
            <h5 class="text-center">Which of the following is the nature of your business. Please select ONE.</h5>
            <hr>
            <div class="row mt-3">
                {% for main in mains %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header align-items-center d-flex justify-content-center bg-dark text-white">
                            <input type="hidden">{{main.main_item}}</input>
                        </div>
                        <div style=" text-align: center; display: block; margin-top: 5px; margin-bottom: 5px">
                            <img src="{{main.image.url}}" alt="" class="img-fluid" style="width: 150px; height:150px;">
                        </div>
                        <!--                        <ls>{{main.subpurpose_set.all}}</ls>-->

                        <div class="card-footer text-center">
                            <a style="width:75px" href="{% url 'ezz-purposedetail' main.id %}"
                               class="btn btn-success">Info</a>
                            <a style="width:75px" href="{% url 'ezz-subpurpose' main.id %}" class="btn btn-primary">Select</a>
                        </div>
                    </div>
                    <br>
                </div>
                {% endfor %}
            </div>
            <div style="margin-left: 40%">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="btn btn-secondary" href="{% url 'ezz-vip' %}">Previous Page</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>

</div>

{% endblock content %}

