{% extends "premiers/base.html" %}
{% block content %}
<div class="event-container">
    <div class="event">
        <div class="container">
            <h1 class="text-center"> Xera Scheduling </h1>
            <h5 class="text-center">Which of the following your preferred SLOT. Please select ONE.</h5>
            <hr>
            <div>
                {% for date in selected_date %}
                    <div class="event">
                        <div class="event-left">
                            <div class="event-date">
                                <ls>{{date}}</ls>
                            </div>
                        </div>

                        <div class="event-right">
                            <ls>Main Purpose: {{mains}}</ls>
                            <ls>Sub Purpose: {{subs}}</ls>
                            <ls>Vip: {{request.user.vip}}</ls>
                            <ls>Email: {{request.user.email}}</ls>
                            <ls>Category: {{category}}</ls>
                        </div>

                        <div style="margin-left: 100px; margin-top:5%">
                            <a href="{% url 'ezz-confirm' date %}" type="submit" class="btn btn-primary" style="width:120px">
                                Select </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
        </div>
    </div>
</div>

{% endblock content %}

