{% extends "premiers/base.html" %}
{% block content %}
<div class="event-container">
    <div class="event">
        <div class="container">
            <h1 class="text-center"> Xera Scheduling </h1>
            <h5 class="text-center">Confirm Your Selection</h5>
            <hr>
            {{subs}}
            <h2>CATEGORY : {{category}}</h2>
            <br>
            <a style="width:100px" href="{% url 'ezz-select' %}" class="btn btn-primary">Next</a>
        </div>
    </div>

</div>

{% endblock content %}

