{% extends "premiers/base.html" %}
{% block content %}

<div class="event-container">
    <div class="event">
        <div class="container" style="margin-top: 30px">
            <h3 class="text-center"> Please select 1 suitable date and time for the appointment</h3>

            {% if category == "GLORY" %}
            <form action="{% url 'ezz-confirm'%}" method="POST">
                {% csrf_token %}
                <div class="card card-block d-flex" style="height: 200px">
                    <div class="card-body align-items-center d-flex justify-content-center bg-dark text-white">
                        <input type="hidden" name="meetingId" value="{{purposeDetail.id}}">Meeting ID :
                        {{purposeDetail.id}}</input>
                    </div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <h6>Attending : {{purposeDetail.vip}}</h6>
                    </div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <h6>Main Purpose : {{purposeDetail.main_purpose}}</h6>
                    </div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <h6>Sub Purpose : {{purposeDetail.sub_purpose}}</h6>
                    </div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <h6>Venue: Aliy Property Building</h6>
                    </div>
                </div>
                <div class="row mt-3">
                    {% for slot in all_slot %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm my-auto">
                            <div class="card-header align-items-center d-flex justify-content-center bg-dark text-white">
                                <input type="hidden" style="text-align: center;">Date : {{slot.date|date:"d M, Y" }}</input>
                            </div>
                            <div class="card card-block d-flex align-items-center" style="height: 70px">
                                <div class="card-body align-items-center justify-content-center">
                                    <input type="radio" name="slot" value="{{slot.slot.id}}" checked>
                                    <label>{{slot.slot.name}} {{slot.slot.start_time}} - {{slot.slot.end_time}}</label>
                                </div>
                                <br>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary btn-sm center" style="color:white"
                                        name="submit" value="{{slot.date}}">
                                    Select
                                </button>
                            </div>
                        </div>
                        <br>
                    </div>
                    {% endfor %}
                </div>

                <div class="card-footer text-center align-items-center">
                    <nav aria-label="..." style="margin-left: 43%">
                        <ul class="pagination">
                            <li class="page-item">
                                <a type="button" class="btn btn-outline-danger"
                                   href="{% url 'cancel-select' purposeDetail.id %}">Cancel Select</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </form>

            {% else %}
            <form action="{% url 'ezz-confirm'%}" method="POST">
                {% csrf_token %}
                <div class="card card-block d-flex" style="height: 200px">
                    <div class="card-body align-items-center d-flex justify-content-center bg-dark text-white">
                        <input type="hidden" name="meetingId" value="{{purposeDetail.id}}">Meeting ID :
                        {{purposeDetail.id}}</input>
                    </div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <h6>Attending : {{purposeDetail.vip}}</h6>
                    </div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <h6>Main Purpose : {{purposeDetail.main_purpose}}</h6>
                    </div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <h6>Sub Purpose : {{purposeDetail.sub_purpose}}</h6>
                    </div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <h6>Venue: Aliy Property Building</h6>
                    </div>
                </div>
                <div class="row mt-3">
                    {% for date in selected_date %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm my-auto">
                            <div class="card-header align-items-center d-flex justify-content-center bg-dark text-white">
                                <input type="hidden" style="text-align: center;">Date : {{date|date:"d M, Y" }}</input>
                            </div>
                            <div class="card card-block d-flex align-items-center" style="height: 100px">
                                <div class="card-body align-items-center justify-content-center">
                                    {% for slot in selected_slot %}
                                    <input type="radio" name="slot" value="{{slot.id}}" checked>
                                    <label>{{slot.name}} {{slot.start_time}} - {{slot.end_time}}</label>
                                    <br>
                                    {% empty %}
                                    <p>There is no choice available for this question</p>
                                    {% endfor %}
                                </div>
                                <br>


                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary btn-sm center" style="color:white"
                                        name="submit" value="{{date}}">
                                    Select
                                </button>
                            </div>
                        </div>

                        <br>
                    </div>
                    {% endfor %}
                </div>

                <div class="card-footer text-center align-items-center">
                    <nav aria-label="..." style="margin-left: 43%">
                        <ul class="pagination">
                            <li class="page-item">
                                <a type="button" class="btn btn-outline-danger"
                                   href="{% url 'cancel-select' purposeDetail.id %}">Cancel Select</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </form>

            {% endif %}


        </div>
    </div>
</div>

{% endblock content %}

